@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('/src/app/fonts/Inter-Regular.otf') format('woff2');
  font-style: normal;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: 'Inter';
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.brand-name{
  font-family: 'Inter';
  font-size: 1.5rem;
}